body {
  margin: 0px;
  color: #fff;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote,
dd {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

:root {
  --cor-primaria: #1c142c;
  --cor-secundaria: #463861;
  --cor-terciaria: #e5d4ff;

  --fonte-primaria: "Jura", sans-serif;
  --fonte-secundaria: "Amatic SC", sans-serif;
}

body {
  background-color: var(--cor-primaria);
}

/* Header */

.header__menu {
  background-color: var(--cor-secundaria);
}

.header__menu ul {
  font-family: var(--fonte-secundaria);
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
}
.header__menu li {
  font-size: 24px;
  padding: 24px;
}

/* Main */

.subtitulos {
  background-color: var(--cor-primaria);
}

.subtitulos ul {
  font-family: var(--fonte-secundaria);
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 320px;
  margin-right: 320px;
}

.subtitulos li {
  font-size: 16px;
  padding: 14px;
}

/* ADICIONAR DETALHE */

.main__container {
  background-color: var(--cor-primaria);
  color: #fff;
  display: grid;
  grid-template-columns: minmax(30%, 500px) minmax(30%, 500px);
  justify-content: center;
  margin-top: 60px;
  gap: 80px;
  margin-bottom: 120px;
}

.foto__container h1 {
  padding: 300px 200px;
  background-color: red;
}

.main__text {
  font-family: var(--fonte-primaria);
  font-size: 24px;
}

/* PROJETOS */

section h1 {
  font-family: var(--fonte-secundaria);
  text-align: center;
  font-size: 128px;
  font-weight: 400;
}

.projetos__container {
  display: grid;
  grid-template-columns: minmax(20%, 470px) minmax(20%, 470px);
  justify-content: center;
  gap: 60px;
  margin-top: 60px;
}

.projetos__item__grande {
  padding: 140px;
  justify-content: center;
  background-color: rgb(16, 6, 73);
}

.projetos__item__container {
  display: grid;
  grid-template-columns: minmax(20%, 470px) minmax(20%, 470px) minmax(
      20%,
      470px
    );
  justify-content: center;
  gap: 30px;
  margin-top: 48px;
  margin-bottom: 120px;
}

.projetos__item {
  padding: 110px 70px;
  justify-content: center;
  background-color: rgb(16, 6, 73);
}
